<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div>
    <h2>Book a meeting</h2>
    <form action="book-appointment" method="post">
      <label for="">
        <input type="email" name="email">
      </label>
      <label for="">
        <input type="date" name="start_date">
      </label>
      <label for="">
        <input type="time" name="start_time">
      </label>
      <button type="submit">Book</button>
    </form>
  </div>
  <div>
    <% calendar.events.each do |event| %>
      <div>
        <h3><%= event.subject %></h3>
        <span><%= event.start.date_time %></span>
        to
        <span><%= event.end.date_time %></span>
      </div>
    <% end %>
  </div>
</body>
</html>
